menu "Wi-Fi Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "guest"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "train-during-harbor-science"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

endmenu

menu "IBM Watson Configuration"

	config TTS_SERVICE_ENDPOINT
		string "Watson Text-to-Speech service endpoint"
		default "https://api.au-syd.text-to-speech.watson.cloud.ibm.com"
		help
			Service endpoint for Watson Text-to-Speech
			https://cloud.ibm.com/apidocs/text-to-speech#service-endpoint
	
	config TTS_VOICE
		string "Watson Text-to-Speech Voice"
		default "en-GB_KateV3Voice"
		help
			Voice ID for Watson Text-to-Speech
			https://cloud.ibm.com/apidocs/text-to-speech#list-voices
endmenu
